[user]
	email = tubig.jlu@gmail.com
	name = John Leonard Tubig
	signingkey = 0x853F15741D476789

[init]
	defaultBranch = main

[commit]
	gpgSign = true

[pull]
	rebase = false

[tag]
	forceSignAnnotated = true

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections
  light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
