! using integer multiples of 96 usually works best, e.g. 192 for 200% scaling.
! Xft.dpi: 192
Xft.dpi: 150

! monitor preferences for MBP 12,1
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
